.personal-photo{
            width: 600px;
            width: 600px;
        }

        .main-text {
          font-size : 56px;
        }


              
        .float{
            transition: .5s, color .10s;
            -webkit-transition: .5s, color .10s;
            -moz-transition: .5s, color .10s;
        }
        .float:hover{
            transform: translate(0px,5px);
            -webkit-transform: translate(0px,5px);
            -moz-transform:translate(0px,5px);
        }
        
        /*Font*/
        .font-pixel {
        font-family: "Pixelify Sans", sans-serif;
        }

        .bg-primary {
            background-color: #f0e9e1;
        }

        .font-primary-color {
            color: #f0e9e1;
        }
