* {
    margin: 0px;
    padding: 0px;
    font-family: pixelify sans;
}

.logo h3 {
    font-family: pixelify sans;
}

.icon {
    width: 20px;
    margin-right: 8px;
}

.toggle-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.toggle-button span {
    width: 1px;
    background-color: rgb(102, 102, 102);
}

.toggle-button button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.icon-button {
    color: rgb(102, 102, 102);
    width: 23px;
    height: 23px;
    padding: 5px;
    border-radius: 5px;
    border: rgb(197, 197, 197) 1px solid;
}

.profile {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.profile h4 {
    font-size: 20px;
    margin: 0px;
    font-family: pixelify sans;
}

.profile p {
    font-size: 20px;
    color: gray;
    margin: 0px;
}

#nav-links hr {
    background-color: rgb(197, 197, 197);
    border: none;
    height: 1px;
    margin-bottom: 5px;
}

nav {
    z-index: 99;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    right: 0px;
    left: 0px;
    padding: 15px 20px;
    border-bottom: rgb(197, 197, 197) 1px solid;
}

.hidden {
    display: none;
}

#nav-links {
        position: absolute;
        right: 10px;
        top: 85px;
        flex-direction: column;
        background-color: white;
        padding: 15px;
        width: 300px;
        height: auto;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.26);
        -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.26);
        -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.26);
    }

#nav-links > ul > li {
    font-size: 15px;
    list-style: none;
    gap: 10px;
    width: auto;
    padding: 3px 8px;
    border-radius: 5px;

}

#nav-links > ul > li:hover {
    background-color: rgb(226, 226, 226);
}

#nav-links > ul > li > a {
    font-size: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: rgb(70, 70, 70);
}

/* Hero Section*/
main section {
    padding: 100px 20px;
    text-align: start;
    background-color: rgb(240, 240, 240);
    display: flex;
    justify-content: center;
    align-items: center;
}

main section img {
    width: 100%;
    height: auto;
    width: 500px;
    max-width: 600px;
    border-radius: 10px;
    filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.26));
    -webkit-filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.26));
    -moz-filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.26));
    filter: grayscale(100%);
}

main section div {
    width: 60%;
}

main section h1 {
    font-family: pixelify sans;
    font-size: 100px;
    margin-bottom: 20px;
}

main section h2 {
    color: rgb(102, 102, 102);
}

main section p {
    color: rgb(102, 102, 102);
    font-size: 20px;
}





@media screen and (max-width: 600px) {

    .icon-button {
        width: 19px;
        height: 19px;
    }

    .profile h4 {
        font-size: 16px;
        margin: 0px;
        font-family: pixelify sans;
    }

    .profile p {
        font-size: 15px;
        color: gray;
        margin: 0px;
    }

    .icon {
        width: 15px;
        margin-right: 8px;
    }


    #nav-links {
        position: absolute;
        right: 10px;
        top: 85px;
        flex-direction: column;
        background-color: white;
        padding: 15px;
        width: 250px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.26);
        -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.26);
        -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.26);
    }

    #nav-links > ul {
        flex-direction: column;
        gap: 10px;
    }

    #nav-links > ul > li > a {
        font-size: 15px;
    }

    #nav-links > ul > li > a > i {
        display: block;
    }

    /*Hero Section*/
    main section {
        flex-direction: column;
        text-align: center;
    }

    main section div {
        margin: top 30px;
        margin-bottom: 30px;
        width: 100%;
    }

    main section h1 {
        font-size: 45px;
    }

    main section p {
        width: 100%;
        font-size: 17px;
    }

    main section img {
        width: 400px;
    }
}



.float{
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
}
.float:hover{
    transform: translate(0px,3px);
    -webkit-transform: translate(0px,3px);
    -moz-transform:translate(0px,3px);
}
